.entry {
  width: 100%;
  display: flex;
  flex-direction: row;

  & > div {
    flex: 0 0 4em;
    border-right: solid 1px black;

    input {
      width: 4em;
    }

    &.time {
      flex-basis: 8em;
    }
    &.description {
      flex-grow: 1;
    }
  }
  &.entry-header {
    font-weight: bold;
  }
  &:not(.entry-header):nth-child(even) {
    background-color: #DDD;
  }
}
