.entry {
  width: 100%;
  display: flex;
  flex-direction: row;

  & > div {
    flex: 0 0 4em;
    padding: 5px;
    border-right: solid 1px black;

    .textarea {
      white-space: pre-wrap;
    }

    &.index {
      flex-basis: 2em;
    }
    &.twoway {
      @media print {
        flex-basis: 2em;
      }
    }
    &.time {
      flex-basis: 8em;
    }
    &.description {
      flex-grow: 1;
    }
    &.indicator, &.actions {
      @media print {
        display: none;
      }
    }
  }
  &.entry-header {
    font-weight: bold;
    border-bottom: solid 0.5px black;
  }
  &.entry-content:hover {
    background-color: #DEF;
  }
  &.entry-content {
    @media print {
      border: dashed 0.5px black;
    }
  }

  &.is-event {
    &.entry-content:nth-child(even) {
      background-color: #FFC;
    }
    &.entry-content:nth-child(odd) {
      background-color: #EEC;
    }
  }
  &:not(.is-event) {
    &.entry-content:nth-of-type(even) {
      background-color: #DDD;
    }
  }
}
